@page "/404"

<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
                Omlouváme se, ale stránku, kterou hledáte se nepodařilo najít!
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary" @onclick="NavigateToHome">Přejít na domovskou stránku</button>
    </div>
</div>
<div class="row">
    <div class="col">
        Pro nahlášení erroru můžete použít tento odkaz: <a href="/reportError/404/The page is missing">Nahlásit error</a>
    </div>
</div>