@page "/poslanciList"
@using Poslanci.Client.Components.PoslanciTable
@using Poslanci.Client.Components

<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    <div class="col-md-5">
        <Sort OnSortChanged="SortChanged" />
    </div>
</div>
<div class="row">
    <div class="col">
        <PoslanciTable Poslanecs="PoslanciList" />
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>