@page "/poslanciList"
@using Poslanci.Client.Components.PoslanciTable

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
</div>
<div class="row">
    <div class="col">
        <PoslanciTable Poslanecs="PoslanciList" />
    </div>
</div>
<div class="row">
    <div class="col">
        @*Place for pagination*@
    </div>
</div>