<section>
    <select class="form-control" @onchange="ApplySearchAsync">
        <option value=172>Aktualni</option>
        <option value=165>1992 - 1996</option>
        <option value=166>1996 - 1998</option>
        <option value=167>1998 - 2002</option>
        <option value=168>2002 - 2006</option>
        <option value=169>2006 - 2010</option>
        <option value=170>2010 - 2013</option>
        <option value=171>2013 - 2017</option>
    </select>
</section>
