<section style="margin-bottom: 10px">
    <input type="text" class="form-control" placeholder="Vyhledat poslance podle jmena/prijmeni/clenstvi/kraje" @bind-value="@SearchTerm"
           @bind-value:event="oninput" @onkeyup="SearchChanged" />
</section>