<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Seradit podle -</option>
        <option value="osobniData.jmeno">Jmena</option>
        <option value="osobniData.prijmeni">Prijemni</option>
        <option value="kandidatka.zkratka">Clenstvi</option>
        <option value="kraj.nazevorganucz">Kraje</option>
    </select>
</section>
